
@font-face {
    font-family:  Roboto; /* Гарнитура шрифта */
    src: url(fonts/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
   }
.We-are-one-of-the-in{
    width: 380px;
  height: 150px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #2ffbc8;
}

.Digital-chemistry {
    width: 472px;
    height: 226px;
    font-family: Roboto;
    font-size: 94px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

.logo {
    width: 36px;
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

.bg {
    width: 1440px;
    height: 700px;
    background-color: #000000;
  }
.menu-top1{
    display:inline-block;
}

.menu-nav{
    width: 46px;
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff; 
}

li {
    list-style-type: none; /* Убираем маркеры */
   }

.search {margin:20px;
    width: 27px;
    height: 28px;
    object-fit: contain;
  }

.account {margin:20px;
    width: 28px;
    height: 28px;
    object-fit: contain;
  }

.ru {
    width: 17px;
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    padding-left: 15px;
  }

.menu-top-right{flex-grow:1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu-top-top{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu{
    width: 1440px;/*фиксируем ширину обертки*/
    height: 120px;/*Задаем высоту обертки*/
    display: flex;
    justify-content: space-around;
		
}

.menu-top{ 
    color: white;
    text-align: center; /*Центрируем текст по горизонтали*/
    display: flex;
    justify-content: space-around;
    
	
}

.menu-image{
    margin:20px;
    width: 50px;
  height: 10px;
  object-fit: contain;
}

.menu-foter{
    justify-content: space-around;
	flex-direction: row;
    display: flex;
    align-items:center
}

.mission {
    width: 369px;
    height: 170px;
    opacity: 0.1;
    font-family: Roboto;
    font-size: 94px;
    color: #ffffff;
    position:absolute;
    padding-left: 450px;
  }