
@font-face {
  font-family:  Roboto; /* Гарнитура шрифта */
  src: url(fonts/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
 }

.header {
  width: 1440px;
  height: 480px;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.75);
  background-image: url(img/bg-img.jpg);
}
body{
  display:block;
  height:2380px;
  margin-bottom:00px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  width:964px;
  }
  .We-are-one-of-the-in{
      width: 380px;
    height: 150px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 1.45;
    color: #2ffbc8;
  }
  
  .Digital-chemistry {
      width: 472px;
      height: 226px;
      font-family: Roboto;
      font-size: 94px;
      color: #ffffff;
    }
  
  .text {
      height: 19px;
      font-family: Roboto;
      font-size: 16px;
    font-weight: 500;
      color: #ffffff;
    }
  
    .text-end{padding-right: 40px;
      height: 19px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      color: #ffffff;
    }

  .menu-footer-name{
      display:inline-block;
  }
  
  li {
      list-style-type: none;
     }
  
  .search {margin:20px;
      width: 27px;
      height: 28px;
      object-fit: contain;
    }
  
  .account {margin:20px;
      width: 28px;
      height: 28px;
      object-fit: contain;
    }
  
  .menu-top-right{flex-grow:1;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
  }
  
  .menu-top-top{
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
  }
  
  .menu{
      width: 1440px;/*фиксируем ширину обертки*/
      height: 120px;/*Задаем высоту обертки*/
      display: flex;
      justify-content: space-around;
      
  }
  
  .menu-top{ 
      color: white;
      text-align: center; /*Центрируем текст по горизонтали*/
      display: flex;
      justify-content: space-around;
  }
  
  .menu-image{
      margin:20px;
      width: 50px;
    height: 10px;
    object-fit: contain;
  }
  
  .menu-footer{
      justify-content: space-around;
    flex-direction: row;
      display: flex;
      align-items:center;
  }
  
  .mission {
      width: 369px;
      height: 170px;
      opacity: 0.1;
      font-family: Roboto;
      font-size: 94px;
      color: #ffffff;
      position:absolute;
      padding-left: 450px;
    }
  
  .body{
        width: 1440px;
        height: 2379px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
    }
  
  .bg-bg{ flex-direction: column;
    width: 1440px;
    height: 280px;
    background-color: #000000;
    margin-top:100px;
    justify-content: space-around;
      display: flex;
  }
  
  .up_arrow {
    width: 164px;
    height: 18px;
    object-fit: contain;
  }
  
  .footer{
    justify-content: space-around;
    flex-direction: row;
      display: flex;
  }
  
  .footer-end{
    justify-content: center;
    flex-direction: row;
      display: flex;
  }
  
  .footer-img{
    padding: 30px;
  }
  
  .Bitmap {padding:2px;
    width: 398px;
    height: 300px;
    object-fit: contain;
  }

  .main-1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bitmap1{padding-top: 30px;
    display: flex;
    justify-content: Space-around;
    opacity: 0.5;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #000000;
  }
  
  .main-img-text{padding-top: 30px;
    margin-bottom: 50px;
    width: 360px;
    height: 82px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.63;
    color: var(--black);
  }

.Also-in-Predictive-a {padding: 48px;
  margin-left: 80px;
  width: 271px;
  height: 24px;
  font-family: Roboto;
  font-size: 20px;
  color: #000000;
}

.all-media {
  height: 14px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #ffffff;
}

.A-biological-wastewa {
  width: 720px;
 
  font-family: CSTMXPRMNTL01;
  font-size: 36px;
  line-height: 1.36;
  color: #2ffbc8;
}

.more {
  width: 17px;
  height: 3px;
  object-fit: contain;
}

.text1{
  width: 172px;
  height: 14px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #ffffff;
}