@font-face {
    font-family:  Roboto; /* Гарнитура шрифта */
    src: url(fonts/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
   }

body{
display:block;
height:2380px;
margin-bottom:00px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
}

.We-are-one-of-the-in{
    width: 380px;
  height: 150px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.45;
  color: #2ffbc8;
}

.Digital-chemistry {
    width: 472px;
    height: 226px;
    font-family: Roboto;
    font-size: 94px;
    color: #ffffff;
  }

.text {
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
  font-weight: 500;
    color: #ffffff;
  }

  .text-end{padding-right: 40px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }

.header {
    height: 700px;
    background-color: #000000;
  }

.menu-footer-name{
    display:inline-block;
}

li {
    list-style-type: none;
   }

.search {margin:20px;
    height: 28px;
    object-fit: contain;
  }

.account {margin:20px;
    height: 28px;
    object-fit: contain;
  }

.menu-top-right{flex-grow:1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu-top-top{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu{
  margin-left:10%;
  margin-right:10%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.menu-top{ 
    display: flex;
    justify-content: space-around;
}

.menu-image{
    margin:20px;
  height: 10px;
  object-fit: contain;
}

.menu-footer{margin-left:10%;
  margin-right:10%;
    justify-content: space-between;
	flex-direction: row;
    display: flex;
    align-items:center;
}

.mission {
    height: 170px;
    opacity: 0.1;
    font-family: Roboto;
    font-size: 94px;
    color: #ffffff;
    position:absolute;
    padding-left: 45%;
  }

.body{height: 2379px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
  }

.bg-bg{ flex-direction: column;
  height: 280px;
  background-color: #000000;
  margin-top:100px;
  justify-content: space-around;
  display: flex;
}

.up_arrow {
  height: 18px;
  object-fit: contain;
}

.footer{margin-left:10%;
  margin-right:10%;
  justify-content: space-between;
	flex-direction: row;
  display: flex;
}

.footer-2{
    display: flex;
}

.footer-end{
  justify-content: center;
	flex-direction: row;
    display: flex;
}

.footer-img{
  padding: 30px;
}

.Bitmap {padding:2px;
  height: 300px;
  object-fit: contain;
}

.main{
  margin-left:10%;
  margin-right:10%;
  margin-top: -130px;
}

.main-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bitmap1{padding-top: 30px;
  display: flex;
  justify-content: Space-around;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 2px;
  color: #000000;
}

.main-img-text{padding-top: 30px;
  margin-bottom: 50px;
  height: 82px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  color: var(--black);
}